PROJECT_NAME="OCR Worker API (Runpod)"

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net
AZURE_CONTAINER_NAME=invoices

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_INTERNAL_ENDPOINT=
MINIO_EXTERNAL_URL=
BUCKET_NAME=

LLM_API_BASE_URL=http://llama-server:8080/v1

REDIS_PASSWORD=runpod-secure-redis-password
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_SSL=false

WEBHOOK_SECRET_TOKEN=your-secret-token
